.field {
  border: 1px solid #ccc;
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
